<div class="don't USE!">
  <h1 class='subheader'>All Questions</h1>
  <div class='question'>
    <ul>
      <% @questions.each do |question| %>
        <div class='votes'>

         <span class="points"><%= question.points %> points</span></div>
        <div class='answers'><%= question.answers.count %><p>answers</p></div>
        <li>
          <h3><a href="/questions/<%= question.id %>"><%= question.title %></a></h3>
         <div class="question-index-taglist">
          <% question.tags.each do |tag| %>
            <a href="/questions/tagged/<%= tag.name %>" class="question-tag tag-<%= tag.id %>" title="" rel="tag"><%= tag.name %></a>
            <br>
          <% end %>
        </div>
        </li>
        <p>asked by: <a href = "/users/<%=question.author_id%>/profile"><%= question.author.try(:display_name) || "Anonymous" %></a></p>
        <hr>

      <% end %>
  </div>
</div>


