<div class='container'>
  <div class='all-questions'>
    <h1 id='header'>All Questions</h1>
    <div class='question'>
    <hr>
      <% @questions.each do |question| %>
      <div class='votes'>
        <span class="points"><%= question.points %></span>
        <p class='small-text'>votes</p>
      </div>
      <div class='answers'>
        <span class='answer-count'><%= question.answers.count %></span>
        <p class='small-text'>answers</p>
      </div>
      <div class="question-title"><a href="/questions/<%= question.id %>"><%= question.title %></a></div>
      <br>
      <div class='author'>
        <p class='small-text'>asked by: <%= question.author.try(:display_name) || "Anonymous" %></p>
      </div>
      <div class='question-tags'>
        <ul>
          <% question.tags.each do |tag| %>
            <li class='small-text tag'><%= tag.name %></li>
          <% end %>
        </ul>
      </div>
<!--        <div class="question-index-taglist">
          <% question.tags.each do |tag| %>
            <a href="/questions/tagged/<%= tag.name %>" class="question-tag tag-<%= tag.id %>" title="" rel="tag"><%= tag.name %></a>
            <br>
          <% end %>
        </div> -->
        <hr>
        <% end %>
    </div>
  </div>
</div>



