<%= erb :'_errors' %>

<div class='question_page'>
  <div class='question'>
    <h1> <%= @question.title %></h1>
    <hr>
    <div class='votes'>
      <p><%= @question.votes.count %></p>
    </div>
      <div class='favorite'>
        <p><%= @question.favorites.count %></p>
      </div>
      <div class='body'>
        <p><%= @question.body %></p>
      </div>
    <div>
      <ul>
        <% @question.tags.each do |tag| %>
        <li><%= tag.name %></li>
      <% end %>
      </ul>
    </div>
    <div class='author_box'>
      <p><a href = "/users/<%=@question.author_id%>/profile"><%= @question.author.try(:display_name) %></a></p>
    </div>
    <div class='comment_link'>
      <a href='/'>Dont click, it goes home</a>
    </div>
  </div>
  <div class='answer'>
    <h2><%= @question.answers.count %> Answer</h2>
    <hr>
    <div class='answer-body'>
        <% @question.answers.each do |answer| %>
        <p><%= answer.body %></p>
        <div class='vote-count'><p><%= answer.votes.count %></p></div>
        <div class='answerer-box'>
          <p><a href = "/users/<%=answer.answerer_id%>/profile"><%= answer.answerer.try(:display_name) %></a></p>
        </div>
        <div class='comment-form'>
          <form action='/questions/<%= @question.id %>/answers/<%=answer.id %>/comments' method='POST' id='comment-form'>
            <textarea name="comment[body]"></textarea>
            <input type="submit" value="Comment">
          </form>
        </div>
        <hr>
        <% end %>
    </div>
    <div class='answer-form'>
      <form action='/questions/<%= @question.id %>/answers' method='POST' id='answer-form'>
        <label>Answer</label>
        <textarea name="answer[body]"></textarea>
        <input type="submit" value="Post Your Answer">
      </form>
    </div>
  </div>
</div>
