<%= erb :'_errors' %>

<div class='question_page'>
  <div class='question'>
    <h1> <%= @question.title %></h1>
    <hr>
    <div class='votes'>
      <form method="post" action='/questions/<%= @question.id %>/vote' class="inline vote-form upvote">
        <input type="hidden" name="vote" value="1">
        <button type="submit" name="submit_param" value="submit_value" class="fa fa-caret-up fa-3x vote-button upvote-button <% "orange" if current_user.votes.find_by({votable: @question}) %>"></button>
      </form>

      <form method="post" action='/questions/<%= @question.id %>/vote' class="inline vote-form downvote">
        <input type="hidden" name="vote" value="-1">
        <button type="submit" name="submit_param" value="submit_value" class="fa fa-caret-down fa-3x vote-button downvote-button"></button>
      </form>
      <span class="points"><%= @question.points %></span>
      <span>points</span>
    </div>
    <div class='favorite'>
      <p><%= @question.favorites.count %> favorites</p>
    </div>
    <div class='body'>
      <p><%= @question.body %></p>
    </div>
    <div>
      <ul>
        <% @question.tags.each do |tag| %>
        <li><%= tag.name %></li>
      <% end %>
      </ul>
    </div>
    <div class='author_box'>
      <p><%= @question.author.try(:display_name) %></p>
    </div>
    <div class='comment_link'>
      <a href='/'>Dont click, it goes home</a>
    </div>
  </div>
  <div class='answer'>
    <h2><%= @question.answers.count %> Answers</h2>
    <hr>
    <div class='answer-body'>
        <% @question.answers.each do |answer| %>
        <p><%= answer.body %></p>
        <div class='vote-count'><p><%= answer.votes.count %></p></div>
        <div class='answerer-box'>
          <p><%= answer.answerer.try(:display_name) %></p>
        </div>
        <div class='comment-form'>
          <form action='/questions/<%= @question.id %>/answers/<%=answer.id %>/comments' method='POST' id='comment-form'>
            <textarea name="comment[body]"></textarea>
            <input type="submit" value="Comment">
          </form>
        </div>
        <hr>
        <% end %>
    </div>
    <div class='answer-form'>
      <form action='/questions/<%= @question.id %>/answers' method='POST' id='answer-form'>
        <label>Answer</label>
        <textarea name="answer[body]"></textarea>
        <input type="submit" value="Post Your Answer">
      </form>
    </div>
  </div>
</div>
