<%= erb :'_errors' %>

<div id="profile-container">
  <div class="subheader">
    <a href="/users/<%= @user.id %>/profile">Profile</a>
    <a href="/users/<%= @user.id %>/activity">Activity</a>
    <% if current_user != nil && current_user.id == @user.id %>
      <a href="/users/<%= @user.id %>/edit">Edit Profile & Settings</a>
    <% end %>
  </div>
  <div class="user-card">
    <div class="user-picture">
      <img src="/images/cooldude.jpeg">
    </div>
      <div class="user-info">
        <h1><%=@user.display_name%></h1>
        <h3><%=@user.location%></h3>
        <h3><%=@user.title%></h3>
        <p><%=@user.about_me%></p>
      </div>
  </div>
</div>
