<div>
  <h1><%= @user.username %></h1>

  <% Deck.all.each do |deck| %>
    <% rounds_played = deck.rounds.select{ |round| round.user_id == @user.id } %>
    <% if rounds_played %>
      <h3><a href="../decks/<%=deck.id%>"><%=deck.name%></a></h3>
      <table>
        <tr>
          <th>Date Played</th>
          <th>Cards in Deck</th>
          <th>First Guess Correct %</th>
          <th>Total Guesses</th>

        </tr>
      <% rounds_played.each do |round| %>
        <tr>
          <td><%= round.created_at %></td>
          <td><%= round.number_of_cards %></td>
          <td><%=sprintf("%.2f", round.first_try_correct.to_f / round.number_of_cards * 100)%>%</td>
          <td><%=round.total_guesses%></td>
        </tr>
      <% end %>
      </table>
    <% end %>
  <% end %>

</div>
