<!-- Copied from questions/index - update when appropriate -->
<div class="">
  <h1 class='subheader'>Tagged Questions</h1>
  <br>
  <h3 id='header'>Tag: <%= @tag.name %></h3>
  <br>
  <br>
  <div class='question'>
    <!-- <ul> -->
      <% @tag.questions.each do |question| %>
        <div class='votes'>
          <span class="points"><%= question.points %></span>
          <p class='small-text'>votes</p>
        </div>
        <div class='answers'>
          <span class='answer-count'><%= question.answers.count %></span>
          <p class='small-text'>answers</p>
        </div>

        <!-- <li> -->
         <div class="question-title"><a href="/questions/<%= question.id %>"><%= question.title %></a></div>
          <!-- <h3><a href="/questions/<%= question.id %>"><%= question.title %></a></h3>
          <ul> -->
        <div class='author'>
          <p class='small-text'>asked by: <%= question.author.try(:display_name) || "Anonymous" %></p>
        </div>
        <div class='question-tags'>
          <ul>
            <% question.tags.each do |tag| %>
              <li class='small-text tag'><%= tag.name %></li>
            <% end %>
          </ul>
        </div>
          <hr>
       <!--  </li> -->
      <% end %>
  </div>
</div>
